@model WebApplication5.Models.Request
    <div class="text-center">
        <h2>Teşekkürler @Model.Name</h2>
        <a asp-action="List" class="btn btn-success">Kursa katılanları görüntüle</a>
    </div>

