<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        body{
            margin:0;
            padding:0;
        }
    </style>
</head>
<body>

    @RenderBody()
</body>
</html>